<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% load static %}

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css'  %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stylez.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" />
</head>
    <body>

    

            <div class="d-flex" id="wrapper">
                <!-- Sidebar -->
                <div class="bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"> 
                        <a href="{% url 'index' %}" class = "mine navbar-brand">
                            <img src="{% static 'img/black-on-white-logo.png' %}" height="60px" style="padding-left: 10px; padding-top:5px;" alt='manakam logo'>
                        </a></div>
                    <div class="list-group list-group-flush my-3">
                        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                                class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
                        <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                                class="fas fa-project-diagram me-2"></i>Home</a>
                                <a href="{% url 'new_invoice' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                                    class="fas fa-project-diagram me-2"></i>Register client</a>
                        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                                class="fas fa-power-off me-2"></i>Logout</a>
                    </div>
                </div>
                <!-- /#sidebar-wrapper -->
        
                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                        <div class="d-flex align-items-center">
                            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                            <h2 class="fs-2 m-0" style="color:azure">Admin Dashboard</h2>
                        </div>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link second-text fw-bold" href="admin/login/"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-user me-2"></i>{{user}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
        
                    <div class="container-fluid px-4">
                        <div class="row g-3 my-2">
        
                            <div class="p-3 bg-white">

                                <div class="row" >
                                    <div class="col-lg-4" >
                                        <div class="">
                                            <div class="">
                                                <div class="p-1 align-items-center">
                                                    <p class="category"><center><b>Tax administration</b></center></p>
                                                    <h3 class="card-title"><center>{{ total_clients2 }}</center></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" >

                                        <div class="justify-content-end">
                                            <div class="p-1 align-items-center">
                                                <p class="category"><strong><center>Tax Depts</center></strong></p>
                                                <h3 class="card-title"><center>{{ total_clients3 }}</center></h3>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4" >

                                        <div class="justify-content-end">
                                            <div class="p-1 align-items-center">
                                                <p class="category"><strong><center>Objections and Appeals</center></strong></p>
                                                <h3 class="card-title"><center>{{ total_clients4 }}</center></h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
        
                        <div class="row my-5">
                            
                            <br>
                            <div id="">
			
                                <div class="main-content">
                                        
                                        
                                        <div class="row ">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="card" style="min-height: 485px">
                                                    <div class="card-header card-header-text">
                                                        <h4 class="card-title">Clients list</h4>
                                                        <p class="category">Registered Clients on 15th December, 2016</p>
                                                    </div>
                                                    <div class="card-content table-responsive">
                                                        <br>
                                                        <table class="table my-table" data-pager-id="something">
                                            
                                                            <thead>
                                                
                                                                <tr>
                                                            
                                                                        <th><b>SL</b></th>
                                                                        <th><b>Customer Name</b></th>
                                                                        <th><b>Enquiry</b></th>
                                                                        <th><b>Date</b></th>
                                                                        <th><b>Delete</b></th>
                                                                        <th><b>Download</b></th>
                                                            
                                                                </tr>
                                                            
                                                            </thead>
                                                            {% for instance in queryset %}
                                                                <tr>
                                                                    <td><small>{{ forloop.counter }}</small></td>
                                                                    <td><a href="{% url 'update_invoice' instance.id %}" style="color: #3882bb; text-decoration: none;"><small>{{ instance.name }}</small></a></td>
                                                                    <td><small>{{ instance.invoice_type }}</small></td>
                                                                    
                                                                    <td><small>{{ instance.invoice_date }}</small></td>
                                                                    <td><a href="{% url 'delete_invoice' instance.id %}" style="color: #125c94;"><small>Delete</small></a></td>
                                                                    <td><a href="{% url 'download_invoice' instance.id %}" style="color: #125c94;"><small>Download</small></a></td>
                                                            
                                                                </tr>
                                                            {%  endfor %}
                                                        
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </div>
                                        
                                        
                                            
                                        <footer class="footer">
                                    <div class="container-fluid">
                                      <div class="row">
                                      <div class="col-md-6">
                                        <nav class="d-flex">
                                            <ul class="m-0 p-0">
                                                <li>
                                                    <a href="#">
                                                        Home
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Company
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Portfolio
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        Blog
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                       
                                    </div>
                                      </div>
                                        </div>
                                </footer>
                                        
                                        </div>
                                        
                                    
                    
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
            </div>

        <script src="{%static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{%static 'js/jquery-ui.min.js' %}"></script>
        <script src="{%static 'js/jquery2.min.js' %}"></script>
        <script src="{%static 'js/main.js' %}"></script>
        <script src="{%static 'js/jquery.dataTables.min.js' %}"></script>
        <script>
            var el = document.getElementById("wrapper");
            var toggleButton = document.getElementById("menu-toggle");

            toggleButton.onclick = function () {
                el.classList.toggle("toggled");
            };
        </script>
        <script>

            // A $( document ).ready() block.
            $( document ).ready(function() {
                $('.table').DataTable();
            });    

        </script>
    </body>
</html>



